{% extends 'base.html.twig' %}

{% block title %}Hello DamsController!{% endblock %}

{% block body %}
<style>
    .page { text-align:center;} 
    .liens {display: flex; flex-direction: raw; justify-content: space-around; margin: 10vh;}
</style>

<div class="page">
    <h1>Page d'accueil</h1>
    <div class="liens">
        <img src="hexa.png" href="/portfolio"><a>Portfolio</a></img>
        <a href="/cv">Cv</a>
        <a href="/contact">Contact</a>
    </div>
</div>
{% endblock %}
