<!doctype htlm>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('style1.css') }}">
</head>

<body>
    <nav class="navbar">
        <a href="#" class="logo">IDEE</a>
        <div class="nav-links">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li class="active"><a href="/cv">Cv</a></li>
                <li><a href="/projets">Mes projets</a></li>
            </ul>
        </div>
        <img src="{{ asset('menu-btn.png') }}" class="menu-btn">
    </nav>
    <div class="download"><button class="telechargementcv"><a class="formu" href="/formulaire">Télecharger mon Cv</a></button></div>
    <div class="cartescv">
        <div class="carte1">
            <div class="container">
                <div class="cardcv">
                    <div class="title">
                        Réalisations
                    </div>
                    <div class="content">
                        <h3>
                            Mes réalisations
                        </h3>
                        <ul class="difcv">
                            <li>Développement en html et css de sites internet</li>
                            <br><li>Création de chaines Youtube concernant le sport et les jeux vidéos</li>
                            <br><li>Montages vidéos</li>
                            <br><li>Configuration du réseau familial (box, ordinateurs individuels...)</li>
                            <br><li>Création de capteur au travers d'esp B266</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="cardcv">
                    <div class="title">
                        Expériences
                    </div>
                    <div class="content">
                        <h3>
                            Mes expériences professionnelles
                        </h3>
                        <ul class="difcv">
                            <li>Stage d'observation (3ème)</li>
                                <ul class="sousliste">
                                    <li>Atelier Vert (Fleuriste), Montluel</li>
                                    <li>Mise en oeuvre de ma créativité afin de concevoir des vitrines de noël conforment aux attendus des commenditaires tout en respectant les budgets (choix des fleurs)</li>  
                                </ul>
                            <li>Emploi saisonnier</li>
                                <ul class="sousliste">
                                    <li>Gaston et fils (Castration du maïs), Mimizan</li>
                                    <li>Ceci m'a permis d'appréhender les exigences de rentabilité d'une entreprise, auquel nous avons répondu par un travail individuel mais également par une réelle collaboration entre employés. J'ai également du faire part d'une adaptabilité lié à la maturité du maïs et aux aspect climatique</li>   
                                </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="cardcv">
                    <div class="title">
                        Formation
                    </div>
                    <div class="content">
                        <h3>
                            Ma formation
                        </h3>
                        <ul class="difcv">
                            <li>IUT de Roanne (Réseaux et Télécomunications)</li>
                                <ul class="sousliste">
                                    <li>1ere année</li>
                                    <li></li>  
                                </ul>
                            <li>Lycéé de la Cotiere (général et téchnologique)</li>
                                <ul class="sousliste">
                                    <li>Obtention du Bacalaureat mention assez bien</li>
                                    <li>options étudiées au lycée :</li>
                                    <li>Mathématiques</li>      
                                    <li>Physique Chimie</li>   
                                    <li>Science de l'ingénieur</li>   
                                </ul>
                            <li>Collège Emile Cizain (général)</li>
                                <ul class="sousliste">
                                    <li>Obtention du Brevet mention assez bien</li>   
                                </ul>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        <div class="carte2">
            <div class="container">
                <div class="cardcv">
                    <div class="title">
                        Compétences
                    </div>
                    <div class="content">
                        <h3>
                            Compétences
                        </h3>
                        <ul class="difcv">
                            <li>Création, conceptualisation, imagination, réalisation, implication, surpassement</li>
                            <br><li>Travaux manuels</li>
                            <br><li>Esprit d'équipe</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="cardcv">
                    <div class="title">
                        Langues
                    </div>
                    <div class="content">
                        <div class="skill">
                            <h4>Langues</h4>
                            <li class="langues"><h5>Francais</h5>
                                <span class="bar"><span class="francais"></span></span>
                            </li>
                            <li class="langues"><h5>Espagnol</h5>
                                <span class="bar"><span class="espagnol"></span></span>
                            </li>
                            <li class="langues"><h5>Anglais</h5>
                                <span class="bar"><span class="anglais"></span></span>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="cardcv">
                    <div class="title">
                        Centre d'intérêts
                    </div>
                    <div class="content">
                        <h3>
                            Centre d'intérêts
                        </h3>
                        <ul class="difcv">
                            <li>Surf (permet de me surpasser mentalement et d'aller au maximum de mes capacités)</li>
                            <br><li>Football (améliore mon éfficacité et mon travail en collaboration)</li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
    </div>
    <span class="copyright">&copy;2023 Villevet_Damien Tous droits réservés</span>
    <script type="text/javascript" src="{{ asset('js/vanilla-tilt.js') }}"></script>
    <script>
        const menuHamburger = document.querySelector(".menu-btn")
            const navLinks = document.querySelector(".nav-links")
    
            menuHamburger.addEventListener('click',()=>{
            navLinks.classList.toggle('mobile-menu')
        });
            VanillaTilt.init(document.querySelectorAll(".cardcv"), {
            max: 25,
            speed: 400,
            glare: true,
            "maw-glare": 1,
        });
    </script>
</body>

</html>