<!doctype htlm>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('style1.css') }}">
</head>

<body>
<div class="body">
  <div class="formulaire">
    <form method="post" action="download.php" target="blank">
      <p class="p">Bienvenue</p>
      <input type="email" placeholder="Email" required><br>
      <input type="tel" placeholder="Numéro de téléphone" required><br>
      <button class="boutontelecharger" type="submit">Télecharger mon CV</button><br>
      <a class="a" href="/">Revenir à l'accueil</a>
    </form>

  <div class="drop drop-1"></div>
  <div class="drop drop-2"></div>
  <div class="drop drop-3"></div>
  <div class="drop drop-4"></div>
  <div class="drop drop-5"></div>
</div>
</div>
<div class="footer">
        <p>Footer</p>
        <br><p>&copy;2023 Villevet_Damien Tous droits réservés</p>
    </div>
</body>

</html>